**/__pycache__
**/.pytest_cache
**/.venv
**/venv
**/.git
**/.gitignore
**/.env
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/pip-log.txt
**/*.tar
**/*.tar.gz
**/*.zip
**/node_modules
**/.vscode
**/.idea
**/models/
**/logs/
**/*.log
**/htmlcov


